# pycharm project
.idea

# video file
*~
*.avi

# ipython file
*.ipynb
.ipynb_checkpoints/

# backup files
*~

# log files
*.log

# dot files
.*

# git
!.gitignore

# make file
*~
*.o
*.o.d
core
*.ko
*.mod
*.mod.c
a.out
Module.symvers
modules.order

# cmake
build/

# caffemodels
caffemodels/


# c_blind_clear
a.out
